.male{
    @apply p-2 font-bold rounded-2xl;
    background-color: #006FEE33;
    color: #006fee
}

.female{
    @apply p-2 font-bold rounded-2xl;
    background-color: #7828C833;
    color: #7828c8
}