<div class="frame-wrapper">
    @let wardrobe = this.wardrobe$ | async ;
    @if (wardrobe) {
    <h1 class="title">{{wardrobe.name}}, {{wardrobe.address}} ({{wardrobe.city.name}})</h1>
    <p>Se muestra información detallada del ropero con la identificación de arriba, abajo puedes encontrar el inventario y las ventas de este ropero, además de filtrar por nombre e identificación</p>

    <div class="summary-section">

        <div class="card">
            <h1><ng-icon size="24px" name="lucidePackageOpen" /> Unidades disponibles</h1>
            <h2>{{wardrobe.stock}}</h2>
        </div>

        <div class="card">
            <h1><ng-icon size="24px" name="lucidePackage" /> Unidades Vendidas</h1>
            <h2>{{wardrobe.unitSold}}</h2>
            <h3>{{this.month}}</h3>
        </div>

        <div class="card">
            <h1><ng-icon size="24px" name="lucideCircleDollarSign" /> Ingresos Totales</h1>
            <h2>{{ wardrobe.valueSales| currency}}</h2>
            <h3>{{this.month}}</h3>
        </div>
    </div>
    }@else {
        <BancoRopa-loading-element/>
    }


    <p-tabView>
        <p-tabPanel header="Inventario" >
            <ng-template pTemplate="content">
                @if (wardrobe) {
                    <BancoRopa-wardrobe-inventory [wardrobeUUID]="wardrobe.uuid" />
                }@else {
                    <BancoRopa-loading-element/>
                }
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Ventas" #sales>
            <ng-template pTemplate="content">
                @defer (on immediate ;prefetch on timer(1s)) {
                    @if (wardrobe) {
                        <BancoRopa-wardrobe-sales [wardrobeUUID]="wardrobe.uuid" />
                    }
                }
                @placeholder {
                    <BancoRopa-loading-element/>
                }
            </ng-template>
        </p-tabPanel>
    </p-tabView>

</div>